<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dynamic file</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- default get method -->
    <form method="post" action="/contact">
      <h3>Contact Form</h3>
      <input type="text" name="name" id="" placeholder="name" />
      <input type="email" name="emailid" id="" placeholder="email" />
      <button type="submit">Send message</button>
    </form>
    <script src="script.js"></script>
  </body>
</html>
